body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1 {
    color: #ff3399; /* Pink color */
    font-size: 2em;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  
  h2 {
    font-size: 1.5em;
    font-style: italic;
  }
  
  .job-title {
    color: #777777;
    font-weight: bold;
    font-size: 1.2em;
  }
  
  a:link,
  a:visited {
    color: #ff5733; /* Orange color */
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul {
    border: 3px solid #4b006e; /* Dark purple border */
    padding: 10px;
    display: inline-block;
  }
  
  li {
    list-style-type: none;
  }
  
  p {
    font-size: 1em;
    color: #333;
  }
  
  h1::after {
    content: "";
    display: block;
    border-bottom: 5px dotted #660066; /* Dotted purple line */
    margin-top: 10px;
  }